@mixin border {
  content: ' ';
  background-color: var(--warning);
  height: 50%;
  width: 0.6em;
  border-radius: 8px;
  margin-top: 1em;
}

.Card {
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__img {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 3em 2em rgba(0, 0, 0, 0.9);
  }
  &__info {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 3em 4em;

    span {
      margin: 0;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 3px;
      color: rgba(255, 255, 255, 0.2);
      font-weight: 600;
    }

    h1,
    h2 {
      margin: 0 0 20px 0;
      max-width: 80%;
    }

    p {
      display: flex;
      flex-direction: row;
    }

    &__border {
      background-color: var(--warning);
      height: 50%;
      width: 0.6em;
      border-radius: 8px;
      margin-right: 1.5em;
      margin-top: 1em;
    }
  }
}

.Card:nth-child(even) .Card__info {
  align-items: flex-end;
  text-align: end;
  padding: 3em 4em;
}
.Card:nth-child(even) p::after {
  @include border;
  margin-left: 1.5em;
}
.Card:nth-child(odd) p::before {
  @include border;
  margin-right: 1.5em;
}
