.Contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__card {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    &__content {
      flex-grow: 1;
      width: 100%;
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.2)
        ),
        url('../../common/assets/code.jpg');
      background-position: center;
    }

    &__info {
      width: 80%;
      padding: 3em 2em;
      box-sizing: border-box;
      background: var(--secondary);
      text-align: center;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;

        &__round {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);
          box-sizing: border-box;

          h5 {
            margin-right: 10px;
          }

          &__icon {
            border: 1px solid var(--background);
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0.5em;

            svg {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
