:root {
  --primary: #0d0210;
  --secondary: #4d3147;
  --warning: #866a80;
  --info: #c9b7c7;
  --extra: #fffbff;
  --background: #111111;
  --title-s: 40px;
  --title-line-height: 1.3;
  --p-s: 15px;
  --p-line-height: 1.8;
}

h1,
h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: var(--title-s);
  line-height: var(--title-line-height);
  font-weight: 500;
}

h1::first-letter,
h2::first-letter {
  color: var(--warning);
}

p {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 200;
  font-size: var(--p-s);
  line-height: var(--p-line-height);
}

body {
  font-family: 'Poppins', Arial, sans-serif;
}

.App {
  margin: 0;
  padding: 0;
}

@keyframes appears {
  0% {
    opacity: 0.2;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
